header {
  background:#111;
  width:100%;
  height:100px;
}

.page-wrap {
  padding:2rem 0;
}

.widget {
  padding:0;
  margin:0;
  list-style-type:none;
}

.widget-title {
  color:green;
}

.widget_nav_menu li a {
  text-decoration:none;
  color:#111;
}

.widget_nav_menu li {
  color:red;
  list-style-type:none;
  text-decoration:none;
}

.widget_nav_menu li .sub-menu {
  color:red;
  list-style-type:none;
  text-decoration:none;
  display:none;  /* makes it so the "Our Team" doesn't show */

}

.widget_nav_menu li:hover .sub-menu {
  display:block;
  color:red;

}
.widget_block {
  color:111;
}

.wp-block-latest-posts li
 {
  color:111;
  list-style-type:none; /* Remove bullet points if they are list items */
  padding-left:2rem
}
.widget_recent_entries li ,
.widget_archive li,
.widget_categories li {
  color:111;
  list-style-type: none; /* Remove bullet points if they are list items */
}

.widget_recent_entries a,
.widget_archive a,
.widget_categories a{
  color:inherit;
  list-style-type:none; /* Remove bullet points if they are list items */
  text-decoration:none;
  }

  .wp-block-latest-posts {
    padding:rem;
  }

header .top-bar {
  list-style-type:none; /* will remove bullet points */
  margin:0;
  padding:0;
  display:flex; /* makes the links side-by-side */
}

header .top-bar li a {
  padding:0.25rem 1rem;      /*.25 at the top 1 on the sides*/
  color:#fff;     /* white color to links */
}

header .top-bar li {
  position:relative;

}


header .top-bar li:first-child a {
  padding-left:0;
}

header .top-bar li:last-child a {
  padding-right:0;
}

header .top-bar li .sub-menu {
  display:none;  /* makes it so the "Our Team" doesn't show */
  position:absolute;
  top:100%;
  left: 50%; /* Position the left edge of the sub-menu at the center of the parent */
  transform: translateX(-50%); /* Shift the sub-menu back to the left by 50% of its width */
  background:#fff;
  box-shadow:1px 1px 10px rgba(0,0,0,0.1); 
  margin:0;
  padding:0;
  list-style-type:none;
  width:150px;
  border-radius:0.5rem;
  z-index:999;

}

header .top-bar li .sub-menu a {
  color:green;
  padding:.25rem;
  text-align:center; 
  display:block; /* changes it from a list item to a block */
  text-decoration:none; /* removes the underline */

}


header .top-bar li .sub-menu .menu-item:hover a {
  color:#111;
}

header .top-bar .menu-item-has-children:hover .sub-menu{
  display:block; /* with the hover option it will only display when user hovers cursor */
}

header .container {
  display:flex;
  justify-content:center; /* will align horizontally */ 
  align-items: center;  /* will align vertically */
  height:100%;
}

footer .bottom-bar {
  list-style-type:none; /* will remove bullet points */
  margin:0;
  padding:0;
  display:flex; /* makes the links side-by-side */
  justify-content:center;
}

footer .bottom-bar li a {
  padding:0.25rem 1rem;      /*.25 at the top 1 on the sides*/
  color:black;     /* white color to links */
}