header {
  background:white;
  width:100%;
  height:100px;
  font-family: 'eb', serif;
  font-size:23px;

}

.page-wrap {
  padding:2rem 0;
}

.card-body {
  display: flex;
  justify-content: start; /* Align items to the start of the container */
  align-items: center; /* Center items vertically */
}



.blog-content {
 font-family: 'eb', serif;
}

.blog-content h3 {
 font-size:38px;

}

.blog-content a {
  
}
/* .custom-btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: .5rem;
  width:170px;
} */

.button-annoying {
  text-align:center;
  
}

.widget {
  padding:0;
  margin:0;
  list-style-type:none;
}

.widget-title {
  color:#111;
  font-family: 'eb', serif;
}

.widget_nav_menu {
  text-align: left;
}

.widget_nav_menu li a {
  text-decoration:none;
  color:#111;
}

.widget_nav_menu li {
  color:red;
  list-style-type:none;
  text-decoration:none;
}

.widget_nav_menu li .sub-menu {
  color:red;
  list-style-type:none;
  text-decoration:none;
  display:none;  /* makes it so the "Our Team" doesn't show */

}

.widget_nav_menu li:hover .sub-menu {
  display:block;
  color:red;

}
.widget_block {
  color:111;
}



.wp-block-latest-posts__post-title {
  color:#111;
  list-style-type:none; /* Remove bullet points if they are list items */
  padding-left:2rem;
  text-decoration:none;
  font-family: 'eb', serif;
  
}

.wp-block-archives li a {
  color:#111;
  list-style-type:none; /* Remove bullet points if they are list items */
  text-decoration:none;
  margin-left:-20px;
}

.wp-block-latest-posts {
  margin-left:-20px;
}

.wp-block-categories li a{
  color:#111;
  list-style-type:none; /* Remove bullet points if they are list items */
  text-decoration:none;
  margin-left:-20px;
}

#block-14 li {
  display:none;
}

#block-14:hover li {
  display:block;
}

#block-17 li {
  display:none;
}

#block-17:hover li {
  display:block;
}

#block-16 li {
  display:none;
}

#block-16:hover li {
  display:block;
}


.widget_recent_entries li ,
.widget_archive li,
.widget_categories li {
  color:111;
  list-style-type: none; /* Remove bullet points if they are list items */
}

.widget_recent_entries a,
.widget_archive a,
.widget_categories a{
  color:inherit;
  list-style-type:none; /* Remove bullet points if they are list items */
  text-decoration:none;
  }

  .wp-block-latest-posts {
    padding:0;
  }
  
header .menu-top-bar-container {
  display:flex;
}



header .top-bar {
  justify-content:center;
  list-style-type:none; /* will remove bullet points */
  margin:0;
  padding:0;
  display:flex;
  flex-grow:1;
  flex-shrink:1;
  /* flex-basis:100%; */
  flex-wrap:wrap;
 
}

header .top-bar li a {
  padding:0.75rem 1rem;    /* .25 at the top 1 on the sides */
  color:#111;   
}

header .top-bar li {
  position:relative;
  margin-bottom:8px;  /* white color to links */

}


header .top-bar li:first-child a {
  padding-left:0;
}

header .top-bar li:last-child a {
  padding-right:0;
}

header .top-bar li .sub-menu {
  display:none;  /* makes it so the "Our Team" doesn't show */
  position:absolute;
  top:100%;
  left: 50%; /* Position the left edge of the sub-menu at the center of the parent */
  transform: translateX(-50%); /* Shift the sub-menu back to the left by 50% of its width */
  background:#fff;
  box-shadow:1px 1px 10px rgba(0,0,0,0.1); 
  margin:0;
  padding:0;
  list-style-type:none;
  width:150px;
  border-radius:0.5rem;
  z-index:999;

}

header .top-bar li .sub-menu a {
  color:black;
  padding:.25rem;
  text-align:center; 
  display:block; /* changes it from a list item to a block */
  text-decoration:none; /* removes the underline */

}


header .top-bar li .sub-menu .menu-item:hover a {
  color:green;
}

header .top-bar .menu-item-has-children:hover .sub-menu{
  display:block; /* with the hover option it will only display when user hovers cursor */
}

header .container-fluid {
  display:flex;
  justify-content:center;
  align-items:center; 
  height:100%;
 
}

footer .bottom-bar {
  list-style-type:none; /* will remove bullet points */
  margin:0;
  padding:0;
  display:flex; /* makes the links side-by-side */
  justify-content:center;
  display:flex;
}

footer .bottom-bar li a {
  padding:0.25rem 1rem;      /*.25 at the top 1 on the sides*/
  color:black; 
  font-size: 1.5rem; 
  justify-content:space-around;
}

.bottom-lines {
  font-size:20px;
}

.footer-title {
  color:white;
  font-size:50px;
  font-weight:crazy;
  font-family: 'new-zealand', sans-serif;
  text-decoration:underline;
 
}

.footer-title-bar {
  background:#111;
  color:white;
  min-height:6em;
}
@media (max-width: 463px) {
  .footer-title-bar {
    text-align:center;
  }
}

/* .footer-nav{
  margin-bottom:50px;
} */

.card-body {
  display: flex;
  justify-content: start; /* Align items to the start of the container */
  align-items: center; /* Center items vertically */
}


.col-sm-12 {
  flex: 0 1 auto;
}

/* Front Page */

.container-top-main{
  display:flex;
}

.row-top-main {
  display:flex;
  flex-wrap:wrap;
  margin-bottom:10rem; 
 }
  
.col-top-main {
  margin:20px;
  display:flex;
  justify-content:space-between;
  height:100%;
  flex-direction: column;
  display:flex;
}

.main-left-name {
  flex: 0 1 100%;
  font-size:10vw;
  font-family: "new-zealand", sans-serif;
  text-align:left;
  }
  @media (max-width: 619px) {
    .main-left-name {
      text-align:center;
      font-size:14vw;
    }
  }

  .main-left-name:hover {
    text-shadow: 1px 1px 10px #111;
    }

.main-left-tenet {
  font-family: "eb", serif;
  font-size:40px;
  margin-left:40px;
  margin-bottom:4rem;

  }
.main-left-tenet li:nth-child(1):hover {
  padding-left:15px;
  /* font-weight:bold; */

  }
.main-left-tenet li:nth-child(2):hover {
  /* font-weight:bold; */
  font-style:italic
}
.main-left-tenet li:nth-child(3):hover {
  /* font-weight:bold; */
  letter-spacing:4px;
    }


.main-left-quote {
  font-family: "new-zealand", sans-serif;
  font-size:23px;
  text-align:center;
  margin-bottom:4rem;
  }
  
.main-left-button {
  font-family:  'Verdana', sans-serif;
  text-align:center;
  margin-bottom:20px;
}
    
.main-image-image {
  border-radius:1rem;
}
.main-image-image:hover {
  box-shadow: 1px 1px 1px #111;
}




.divider {
  height:10px;
  }

.container-second-main {
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  flex: 0 1 100%;
  margin-bottom:10rem;
}

.row-second-main {
  display: flex;
  flex-grow:0;
  flex-shrink:1;
  flex-basis:auto;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  flex: 0 1 100%;

  }
  
.col-second-main {
  display: flex;
  flex-grow:0;
  flex-shrink:1;
  flex-basis:auto;
}

.about-heading {
  font-size:65px;
  font-family: 'new-zealand', serif;
  text-align:left;
}

.row-second-right {
  display:flex;
  justify-content:center;
  align-items:center;
}

 
.black-bar {
  background-color:#111;
  border-radius:0.5rem;
  width:100%;
  height:5px;
  margin-bottom:1.75rem;

}
.short-bio {
  font-family: 'eb', serif;
  line-height:2.4;
  text-align:center;
  font-weight:bold;
  font-size:1.5rem;
}





.container-three-main {
  display:flex;
  flex-grow:0;
  flex-shrink:1;
  flex-basis:auto;
  justify-content:center;
  margin-bottom:10rem;
}

.row-three-main {
  display:flex;
  flex-grow:0;
  flex-shrink:1;
  flex-basis:auto;
  justify-content:center;

}

.col-three-main {
  display:flex;
  flex-grow:0;
  flex-shrink:1;
  flex-basis:25%;
}

.col-three-main img {
  flex-grow:1;
  flex-shrink:1;
  flex-basis:auto;
  border-radius:0.75rem;
  width:300px;
  height:300px;
  margin:0.25rem;
}


@media (max-width: 991px) {
.sidebar {
  justify-content: center;
  text-align: center;
}
}

.sidebar {
  justify-content: flex-start;
  /* text-align: center; */
}



@media (max-width: 619px) {
  .main-left-name {
    text-align:center;
    font-size:14vw;
  }
}

/* @media (max-width: 991px) { */
  .side-column {
    display:none;
    /* justify-content: center;
    text-align: center; */
  }
  /* } */


#menu-top-bar-1 {
 font-size:80px;
 font-family: 'eb', serif;
 margin-left: -3rem;
 text-align:left;
}

#menu-top-bar-1 li {
  font-size:1rem;
  font-family: 'eb', serif;
  margin:10%;
}

.widgettitle {
  font-size:2rem;
  font-family: 'verdana', serif;
  line-height:1.5;
  margin-bottom:30px;
}

.about-title {
  font-family: 'new-zealand', sans-serif;
  text-decoration:underline;
  line-height:1.5;
  font-size:50px;
  text-align:center;
}
@media (max-width: 769px) {
  .about-title {
  font-size:32px;
    
  }
}
@media (max-width: 391px) {
  .about-title {
  font-size:21px;
    
  }
}


.about-container {
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}

.descr_item {
  margin-top:40px;
  line-height:2.5;
  font-family: 'eb', serif;
  font-size:22px;
  border: 0.1px solid #111;
  border-radius:8rem;
  border-style: none dashed none double;

}
.descr_item:hover {
  color:#111;
  margin-top:40px;
  line-height:2.5;
  font-family: 'eb', serif;
  font-size:23px;
  border: 3px solid #111;
  border-radius:3rem;
  border-style:none;
}

/*"Archive Sidebar CSS */

.second-sidebar {
  font-family: 'eb', serif;

}
@media (max-width: 991px) {
  .second-sidebar {
    display:none;
  }
}

.service-card {
  display:flex;
  justify-items:center;
  align-items:center;
}
@media (max-width: 767px) {
  .service-card {
    flex-wrap:wrap;
  }
}

/* Individial Service */

.service-car h1 {
  font-family: 'new-zealand', sans-serif;
  margin-top:10px;
  margin-bottom:40px;
  line-height:1.5;
}

.service-car .row {
font-family: 'eb', serif;
line-height:2;
}

/* Contact Us*/

.contact-us-cont {
  display:flex;

}

.contact-us-content {
  margin-top:8px;
  font-size:20px;
  font-family: 'eb', serif;
  line-height: 3;
  padding:10px;
}

.contact_title {
  font-family: 'new-zealand', sans-serif;
  margin-bottom:30px;
}

.contact-bottom-row {
  margin-bottom:30px;
}

.contact-image {
  display: flex; /* Add this to make it a flex container */
  justify-content: center;
  align-items: center; /* Use align-items to center items vertically */
  padding-right:5rem;
  text-align:center;
}

.contact-image-image {
  max-height:450px;
  flex: 0 1 auto;
  border-radius:0.5rem; 
  margin:10px;
}

 .google-maps {
  display:flex;
}

.responsive-iframe {
  max-width: 600px;
  max-height: 450px;
  flex: 0 3 auto;
  border-radius:0.5rem;
  margin:10px;
}

.forminator-edit-module {
  display:none;
}

.forminator-button-submit {
  background-color:black !important;
  border-radius:1rem !important;
}

.forminator-button-submit:hover {
  background-color:white !important;
  color:black !important;
  border-radius:1rem !important;
}

/* Photos */

.photo-row {
  display:flex;
  justify-content:space-between;
}

.photo-coll {
  justify-content:center;
  display:flex;
} 


.photo-image {
  display:flex;
  border-radius:0.5rem;
  margin:10px;
  max-width:150%;
  flex: 1 1 auto;
  margin-bottom:50px;
}
.photo-image:hover {
  display:flex;
  border-radius:0.5rem;
  margin:10px;
  max-width:150%;
  flex: 1 1 auto;
  margin-bottom:50px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);

}
.photos-title {
  font-family: 'new-zealand', sans-serif;
  text-align:center;
  margin-bottom:100px;
  font-size:80px;
}
.photos-title:hover {
  text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.next-previous-post a   {
  color:#111;
}